.add-note-container {
  width: 50%;
  max-width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);

  textarea{
   width: 100%;
   resize: none;
  }
}

