@use '../mixins' as *;
@use '../variables' as *;

.main {
  @include flex(space-betwen, center, column, 5vh);
  padding: 10vh 10vw;
  background-color: $bg-color;
  background: $bg-gradient;
  min-height: 100vh;
}

.add-btn-container{
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: inline-block;

  .add-menu{
    @include flex(center, flex-start, column, 0);
    position: absolute;
    bottom: 110%;
    right: 0;
    border-radius: 5px;
    border: 1px solid rgba($text-grey, 0.3);
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    
      button{
        background-color: white;
        color: $text-dark;
        text-align: left;
        width: 100%;
        white-space: nowrap;
        border-radius: 0;

        &:hover{
          background-color: $button-color-secondary;
        }
      }
  }
}

.add-btn {

  &:hover .add-icon{
    display: none;
  }

  &:hover .add-hover-icon{
    display: unset;
  }

  .add-hover-icon{
    display: none;
  }
}
