@use '../mixins' as *;
@use '../variables' as *;

.main {
  @include flex(space-betwen, center, column, 5vh);
  padding: 10vh 10vw;
  background-color: $bg-color;
  background: $bg-gradient;
  min-height: 100vh;
}

.add-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;

  &:hover .add-icon{
    display: none;
  }

  &:hover .add-hover-icon{
    display: unset;
  }

  .add-hover-icon{
    display: none;
  }
}
