$button-color-primary: #2c41ff;
$button-color-hover: #5062ff;
$button-color-secondary: #e5e8fd;
$button-color-secondary-hover: #d2d6ff;
$button-text-secondary: #101969;
$bg-color: #e7e8f5;
$bg-gradient: linear-gradient(to bottom right, #e7e8f5, #b7dedf);
$bg-grey: #e2e2e2;
$text-dark: #20243b;
$text-grey: #686868;